<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8 "> 
        <title>find</title>
        <link rel="stylesheet" href="public/css/findStyle.css">
    </head>
    <body>
        <div>
            <nav>
                <label class="logo">Supply Management System</label>
                <ul>
                    <li><a href="/create" role="button">create</a></li>
                    <li><a href="/find" role="button">find</a></li>
                    <li><a href="/logout" role="button">logout</a></li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <div class="topbox_container">
                <div>
                    <h2>
                        <span>Orders</span>
                        <span></span>
                    </h2>
                </div>
            </div>
            <section class="main_box">
                <aside class="filter">
                    <div class="filter_container">
                        <form class="filter_form">
                            <legend class="filter_legend_location">
                                <span><h2>Location</h2></span>
                            </legend>
                            <ul>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="London" id="London">
                                    <label class="filter_label" for="London">London</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="SanDiego" id="SanDiego">
                                    <label class="filter_label" for="SanDiego">San Diego</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="Denver" id="Denver">
                                    <label class="filter_label" for="Denver">Denver</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="Seattle" id="Seattle">
                                    <label class="filter_label" for="Seattle">Seattle</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="Austin" id="Austin">
                                    <label class="filter_label" for="Austin">Austin</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="NewYork" id="NewYork">
                                    <label class="filter_label" for="NewYork">New York</label>
                                </li>
                            </ul>
                            <legend class="filter_legend_coupon">
                                <span><h2>coupon</h2></span>
                            </legend>
                            <ul>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="true" id="couponused_true">
                                    <label class="filter_label" for="couponused_true">True</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="false" id="couponused_false">
                                    <label class="filter_label" for="couponused_false">False</label>
                                </li>
                            </ul>
                            <legend class="filter_legend_purchaseMethod">
                                <span><h2>Purchase Method</h2></span>
                            </legend>
                            <ul>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="In value" id="purchase_method_instore">
                                    <label class="filter_label" for="purchase_method_instore">In store</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="online" id="purchase_method_online">
                                    <label class="filter_label" for="purchase_method_online">Online</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="phone" id="purchase_method_online">
                                    <label class="filter_label" for="purchase_method_online">Phone</label>
                                </li>
                            </ul>
                            <legend class="filter_legend_item">
                                <span><h2>Item</h2></span>
                            </legend>
                            <ul>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="envelopes" id="input_item_envelopes">
                                    <label class="filter_label" for="input_item_envelopes">envelopes</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="envelopes" id="input_item_notepad">
                                    <label class="filter_label" for="input_item_notepad">notepad</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="envelopes" id="input_item_printerpaper">
                                    <label class="filter_label" for="input_item_printerpaper">printer paper</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="envelopes" id="input_item_laptop">
                                    <label class="filter_label" for="input_item_laptop">laptop</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="envelopes" id="input_item_pens">
                                    <label class="filter_label" for="input_item_pens">pens</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="envelopes" id="input_item_binder">
                                    <label class="filter_label" for="input_v_binder">binder</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="envelopes" id="input_item_backpack">
                                    <label class="filter_label" for="input_item_backpack">backpack</label>
                                </li>
                            </ul>
                            <legend class="filter_legend_tag">
                                <span><h2>Tag</h2></span>
                            </legend>
                            <ul>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="stationary" id="input_tag_stationary">
                                    <label class="filter_label" for="input_tag_stationary">stationary</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="office" id="input_tag_office">
                                    <label class="filter_label" for="input_tag_office">office</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="general" id="input_tag_general">
                                    <label class="filter_label" for="input_tag_general">general</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="writing" id="input_tag_writing">
                                    <label class="filter_label" for="input_tag_writing">writing</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="school" id="input_tag_school">
                                    <label class="filter_label" for="input_tag_school">school</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="electronics" id="input_tag_electronics">
                                    <label class="filter_label" for="input_tag_electronics">electronics</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="organization" id="input_tag_organization">
                                    <label class="filter_label" for="input_tag_organization">organization</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="travel" id="input_tag_travel">
                                    <label class="filter_label" for="input_tag_travel">travel</label>
                                </li>
                                <li>
                                    <input class="filter_checkbox" type="checkbox" value="kids" id="input_tag_kids">
                                    <label class="filter_label" for="input_tag_kids">kids</label>
                                </li>
                            </ul>
                            <legend class="filter_legend_date">
                                <span><h2>Date</h2></span>
                            </legend>
                            <ul>
                                <li>
                                    <input class="filter_checkbox" type="date" id="input_tag_date">
                                </li>
                            </ul>
                        </form>
                    </div>
                </aside>
            </section>
        </div>
    </body>
</html>

<!-- location: ['London', 'San Diego', 'Denver', 'Seattle', 'Austin', 'New York']-->

<!-- name: ['envelopes', 'notepad', 'printer paper', 'laptop', 'pens', 'binder', 'backpack']-->

<!-- tag: ['stationary', 'office', 'general', 'writing', 'school', 'electronics', 'organization', 'travel', 'kids']-->